body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
}

.name {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 48px;
  margin-top: 20px;
}

.logo {
  border-radius: 100px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

address {
  line-height: 140%;
}

a, a:hover, a:visited {
  color: #158F25;
  text-decoration: none;
  display: inline-block;
}

.phone {
  margin: 15px;
}

.icons {
  margin-top: 5px;
  margin-bottom: 10px;
}

.icons a {
  margin-right: 15px;
}

.icons a:last-child {
  margin-right: 0;
}
